<IfModule mod_rewrite.c>
  RewriteEngine On
    #RewriteCond %{REQUEST_URI} !(public|css|font|js|uploads|content)
    RewriteCond %{REQUEST_URI} !(\.css|\.mp3|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
    RewriteCond %{REQUEST_URI} !^/content/.*$
    RewriteCond %{REQUEST_URI} !^/favicon\.ico$
  RewriteRule ^ index.php
</IfModule>
