.main-container{
    margin-top: 20px;
}

ul.messages{
    list-style: none;
    display: none;
    cursor: pointer;
}
ul.messages:hover{
    opacity: 0.9;
}
ul.messages li{
    padding: 10px;
}

li.info {
    background: #7f7;
}

li.error {
    background: #f77;
}